body {
  max-width: 840px;
  margin: 0 auto;
  padding: 16px;
  font-family: arial,sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
  position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  line-height: 1.58;
}

.bar, .lang {
  display: flex;
  list-style-type: none;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.item {
  background-color: #f4f4f4;
  padding: 0 10px;
  margin: 0 2px 15px;
}

.item:hover, .item.active {
  background-color: #eaeaea;
}

.bar .item a {
  font-size: 150%;
  font-weight: bold;
  line-height: 2;
}

.item a, .item a:link {
  text-decoration: none;
  color: #000000;
}

.item a:visited {
  text-decoration: none;
  color: #000000;
}

.item a:hover {
  text-decoration: none;
  color: #000000;
}

.item a:active {
  text-decoration: none;
  color: #000000;
}

.spacer {
  flex-grow: 1;
}

.lang {
  position: absolute;
  right: 16px;
  top: 16px;
}

a, a:link {
  text-decoration: none;
  color: #43ada7;
}

a:visited {
  text-decoration: none;
  color: #579491;
}

a:hover {
  text-decoration: underline;
  color: #43ada7;
}

a:active {
  text-decoration: underline;
  color: #43ada7;
}

.line {
  width: 50%;
  margin: 2em auto;
  border: solid 0.5px #43ada7;
}

.plast8, .layer8 {
  background-size: 246px 125px;
  width: 246px;
  height: 125px;
  margin: 0;
  text-indent: -99999px;
}

.plast8 {
  background-image: url("/Plast8.png");
}

.layer8 {
  background-image: url("/Layer8.png");
}
